<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">
      
      <svg href="https://storyset.com/work">    </svg>
  </div>
  <div class="card-body">
    <h4 class="card-title">Se envió satisfactoriamente</h4>
    <p class="card-text">Gracias por participar para ser parte de nuestro equipo.</p>
  </div>
</div>