<div class="col-md-8 offset-md-4">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <img id="imgworker" src="images/worker.png">
        </div>
        <div class="card-body">
            <h4 class="card-title">Envío satisfactorio</h4>
            <p class="card-text">Gracias por querer ser un Yender más</p>
            <a id="btnsendq" class="btn btn-primary " href="/"> Volver </a>
        </div>
    </div>
</div>