<div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-header">
            <h1>Postulacion</h1>
        </div>
        <div class="card-body">
            <form action="/new-contact" method="POST">
                <div class="form-group">
                    <input type="text" id="labelmedium" name="firstname" placeholder="Nombres" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" id="labelmedium" name="lastname"  placeholder="Apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <input type="dni" id="labelshort" name="phone" placeholder="DNI" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" id="labelmedium" name="email" placeholder="Correo" class="form-control">
                </div>
                <div class="form-group">
                    <input type="tel" id="labelshort" name="phone" placeholder="Telefono" class="form-control">
                </div>
                
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Lima:</label>
                    <div class="col-sm-6 ">                   
                        <select class="form-select" id="provincia">
                            <option selected>Distrito</option>
                            <option value="1">ANCÓN</option>
                            <option value="2">ATE</option>
                            <option value="3">BARRANCO</option>
                            <option value="4">BREÑA</option>
                            <option value="5">CARABAYLLO</option>
                            <option value="6">CHACLACAYO</option>
                            <option value="7">CHORRILLOS</option>
                            <option value="8">CIENEGUILLA</option>
                            <option value="9">COMAS</option>
                            <option value="10">EL AGUSTINO</option>
                            <option value="11">INDEPENDENCIA</option>
                            <option value="12">JESÚS MARÍA</option>
                            <option value="13">LA MOLINA</option>
                            <option value="14">LA VICTORIA</option>
                            <option value="15">LA VICTORIA</option>
                            <option value="16">LA VICTORIA</option>
                            <option value="17">LA VICTORIA</option>
                            <option value="18">LA VICTORIA</option>
                            <option value="19">LA VICTORIA</option>
                            <option value="20">LA VICTORIA</option>
                            <option value="21">LA VICTORIA</option>
                            <option value="22">LA VICTORIA</option>
                            <option value="23">LA VICTORIA</option>
                            <option value="24">LA VICTORIA</option>
                        </select>
                    </div>
                 </div>       
                <div class="form-group">
                   <label for="formFile" class="form-label mt-4">Ingrese sus antecedentes penales</label>
                    <input class="form-control" name="antecedentes" type="file" id="formFile">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea"  class="form-label mt-4">Describe tu personalidad</label>
                    <textarea class="form-control" name="personality" placeholder="Soy adulto independiente..." id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4">Describe tus Habilidades y Fortalezas</label>
                    <textarea class="form-control" name="habilities" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4">¿Cúales son tus metas a corto y largo plazo?</label>
                    <textarea class="form-control" name="metas" id="exampleTextarea" rows="3"></textarea>
                </div>
                
        </div>
        <div class="card-footer">            
                <button id="btnsend" class="btn btn-primary btn-block">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</div>